@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 11px;
  overflow: hidden;
}

.fix-blurry-translate {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

html,
body,
#root {
  height: 100%;
}
