@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "iA Writer Mono", ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}
